<div class="container-fluid">
  <h3 class="text-center">Hello <%= @user.email %></h3>
  <div class="row">
    <div class="col-md-lg">
      <h3 class="text-center">Your To Do's</h3>
      <div class="new-item">
        <%= render "items/form" %>
      </div>
      
      <ul class = "list-group js-items" >
        <%= render @items %>
      </ul>

  </div>
</div>