<div class="container">

  <% if current_user %>
    <%= form_for [@user, Item.new] do |f| %>
      <div class="form-group col-md-8">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, placeholder: "Enter item", class: "js-item-name" %>
      </div>
      <div class="form-group col-md-8">
        <%= f.submit "Add Item To List", class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
<% end %>
</div>