<% if @item.destroyed? %>
  $('#item-' +<%= @item.id %>).fadeOut("slow");
  $('.alert').html("<button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:notice] %>");
  $('.alert').addClass('alert-warning');
  $('.alert').removeClass('remove');
<% else %>
  $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
<% end %>